/*page d'accueil*/
/* Partie mobile COMMUMNE*/
#section-restaurations {
  background-color: $color-background-box;
  border-radius: top 15px;
}

#conteneur-restaurants {
  margin: 0;
 
}

.resto {
  background-color: white;
  border-radius: 15px;
  box-shadow: $shadow;
  margin: 20px;
  overflow: hidden;
  position:relative
}

.resto img {
  width: 100%;
}

.resto-img {
  transform: translate(-0%, -0%);
  height: 215px;
  overflow: hidden;
  border-radius: $padding-img;
}

.resto-img img {
  width: 100%;
  min-width: 220px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.informations-restaurant{
  padding :$padding-text ;
  display:flex;
  flex-direction:row;
}
.informations-restaurant{
  margin-bottom: 15px;
  }
.informations-left{
  width: 100%;
}
.lieu{
 color: black;
 margin-left: 15px;
 margin: 5px;
}
.corazon {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 35px;
  margin-top: 20px;
  }

 .white-heart  {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 15px;
  color:black;
  opacity: 1;
  transform:  scale(1.3);
  & :hover {
    opacity: 0;

  }
  }
  .black-heart i{
   display: flex;
   justify-content: flex-end;
    position: absolute;
    right: 0px;
    margin-top: 15px;
    z-index: 1;
    opacity: 1;
    color: transparent;
}
.info {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  width: 85%;
  border-radius: 5px;
  right : 10px;
}

.info p {
  background-color: $color-tertiary;
  padding: 5px;
  color: black;
}
@media (min-width: $tablette) {
  #conteneur-restaurants {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .resto-img {
    overflow: hidden;
  }

  .resto-img img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .info {
    width: 25%;
  }
  }
 /* pages restaurants*/
/* Partie mobile */
#page-restaurants{
  margin: 0;
  padding: 0;
}

#section-menu {
  position:relative;
  z-index: 2;
  flex-direction: column;
  justify-content: space-between;
  background-color: $color-background-box;
  border-radius: 25px 25px 0px 0px;
}
#section-menu {
  margin-top: -30px;

}
#section-menu h1 {
  margin-left:10px;
  font-family: $font-logo; 
}
.page-name{
  display: flex;
  align-items: flex-start;
  width:100%;
}

h4 span{
  border-bottom: solid 3px $color-tertiary;
  margin: 10px;
}

.menu  {
  background-color: white;
  box-shadow: $shadow;
  border: none;
  border-radius: $padding-20;
  padding: 10px;
  margin: 10px;
}
.menu {
 display: flex; 
flex-wrap: nowrap;
justify-content:space-between; 
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
width: 85%;
height: 50px;
}


.display-flex   {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
  width: 100%;
}
.price {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  position: absolute;
  top: -10px;
  width: 6%;
  height: 30px;
font-weight: 600;
 }
.price{
position: relative;
left: 50px;
}
.icon{
display: flex;
align-items: center;
position: absolute;
margin-top: 10px;
color: white;
}
.prix {
    display: flex;
    justify-content: flex-start;
    margin-right: 50px;
    margin-top: 5px;
  }
 
  @media (min-width: $tablette) {
    #conteneur-restaurants {
      margin: 0 auto;
      }
    #section-menu  {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
        margin-top: -30px;
    }
    .conteneur-service {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
     margin: 0;
    }
  .menu a{
    width:80%;
    height: 50px;
   
}
}
@media (min-width: 1024px ) { 
  #conteneur-restaurants {
    margin: 0 auto;
  }
  .menu  {
    width: 90%;
    height: 50px; 
   
}
}
@media (min-width: $desktop){ 
#conteneur-restaurants {
  margin: 0 auto;
}
.conteneur-service {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0;
}
.menu {
width:80%;
height: 50px;
    
}
}