/*page d'accueil*/
/* Partie mobile COMMUMNE*/
#section-restaurations {
  background-color: $color-background-box;
  border-radius: top 15px;
}

#conteneur-restaurants {
  margin: 0px;
}

.resto {
  background-color: white;
  border-radius: 15px;
  box-shadow: $shadow;
  margin: 20px;
  overflow: hidden;
  position:relative
}

.resto img {
  width: 100%;
}

.resto-img {
  transform: translate(-0%, -0%);
  height: 215px;
  overflow: hidden;
  border-radius: $padding-img;
}

.resto-img img {
  width: 100%;
  min-width: 220px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.info {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  width: 85%;
  border-radius: 5px;
  right : 10px;
}

.info p {
  background-color: $color-tertiary;
  padding: 5px;
  color: black;
}
@media (min-width: $tablette) {
  #conteneur-restaurants {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .resto-img {
    overflow: hidden;
  }

  .resto-img img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .info {
    width: 25%;
  }
  }
 /* pages restaurants*/
/* Partie mobile */
.menu {
  background-color: white;
  box-shadow: $shadow;
  border: none;
  border-radius: $padding-20;
  margin: 15px;
  padding: $padding-20;
}
.menu .display-flex{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}
.menu{
  height: 45px;
  width: 85%;
 
}
h4 span{
  border-bottom: solid 3px $color-tertiary;
  margin: 10px;
}

#section-menu {
  background-color: $color-background-box;
  margin: 0px;
  border-radius: 25px 25px 0px 0px;
  font-family: $font-text;
}  
  .conteneur-service h4 {
    font-size: 18px;
    border-bottom: solid 3px $color-tertiary;
    width: 60px;
  }
  #section-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $color-background-box;
    margin: 0px;
    border-radius: 25px 25px 0px 0px;
    position: relative;
    Bottom: $padding-20;
    font-family: $font-text;
  }

  #section-menu h1 {
    font-family: $font-logo;
    margin-left: 10px
  }
  .conteneur-service {
    margin: $padding-20;
  }
  @media (min-width: $tablette) {
   
    #section-menu {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  .conteneur-service {
    display: flex;
   flex-wrap:wrap;
    justify-content:space-between;
  }

  .conteneur-service h4 {
    margin: 30px 0 10px 0;
    border-bottom: solid 3px $color-tertiary;
   }
  .menu {
    width: 290px;
    height: 50px;
   
}
}
@media (min-width: 1024px) {
  #conteneur-restaurants {
    margin: 0 auto;
    max-width: 1400px;
  }
  .menu {
    width: 250px;
    height: 50px; 
}
}
@media (min-width: $desktop)
{
.menu{
width: 390px;
  }
}