/*page d'accueil*/
/* Partie mobile COMMUMNE*/
.chargement-site{
  width: 100%;
  margin: 150px auto 0 auto;
  position: absolute;
  z-index: 1;
  display: flex;
justify-content: center;
.app{
    width: 200px;
    position: absolute;
  }
  & .chargement-logo i{
    font-size:150px;
    padding: 20px;
    color:white ;
    background:$background-color-clear;
  }
& h1{
  position: absolute;
  z-index: 4;
  margin-top: 210px;
  font-family: "Shrikhand", "cursif ";
}
}
.website {
  position: absolute;
  z-index: 5;
  animation: start 1s 4s both;
  width: 100%;
}
#page-d-accueil{
  margin: 0;
}
#section-restaurations {
  background-color: $color-background-box;
}
.resto {
  background-color: white;
  border-radius: 15px;
  box-shadow: $shadow;
  margin: 20px;
  overflow: hidden;
  position:relative
}
.resto img {
  width: 100%;
}
.resto-img {
  transform: translate(-0%, -0%);
  height: 215px;
  overflow: hidden;
  border-radius: $padding-img;
}
.resto-img img {
  width: 100%;
  min-width: 220px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.informations-restaurant{
  padding :$padding-text ;
  display:flex;
  flex-direction:row;
}
.informations-restaurant{
  margin-bottom: 15px;
  }
.informations-left{
  width: 100%;
}
.lieu{
 color: black;
 margin-left: 15px;
 margin: 5px;
}
.corazon-0 {
  font-size: 20px;
  margin-top: 30px;
  }

.white-heart{
  color: #000000;
  position: absolute;
  z-index: 2;
}
 .white-heart i {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  color:black;
  opacity: 1;
  transform: scale(1.3);
  & :hover {
    opacity: 0;
    color:$color-primary;
  }
  }
  .black-heart i{
    position: relative;
    opacity: 1;
    color: transparent;
}
.info {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  width: 85%;
  border-radius: 5px;
  right : 10px;
}

.info p {
  background-color: $color-tertiary;
  padding: 5px;
  color: black;
}
@media (min-width: $tablette) {
  #conteneur-restaurants {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .resto-img {
    overflow: hidden;
  }

  .resto-img img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .info {
    width: 25%;
  }
  }
 /* pages restaurants*/
/* Partie mobile */
#page-restaurants{
  margin: 0 auto;
}

#conteneur-restaurants {
  margin: 0 auto;
  }
#section-menu {
  position:relative;
  z-index: 2;
 flex-direction: column;
 justify-content: space-between;
  background-color: $color-background-box;
  border-radius: 25px 25px 0px 0px;
}
#section-menu {
  margin-top: -30px;

}
#section-menu h1 {
  margin-left:10px;
  font-family: $font-logo; 
}
.page-name{
   margin: 0 10% 0 5%;
  padding-top: 30px;
  h1{
    margin : 0;
  }
}
.corazon {
  position: absolute;
  right: 35px; 
  margin-top: -25px;
  font-size: 20px;
}
h4 span{
  border-bottom: solid 3px $color-tertiary;
  margin: 10px;
}

.menu  {
  background-color: white;
  box-shadow: $shadow;
  border: none;
  border-radius: $padding-20;
  padding: 10px;
  margin: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu {
 display: flex; 
flex-wrap: nowrap;
justify-content:space-between; 
width: 85%;
height: 50px;
}
.menu .display-flex   {
  display: flex;
  flex-direction: column;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
 
  
}
.price {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  position: absolute;
  top: -10px;
  width: 6%;
  height: 30px;
 font-weight: 600;
 }
.price{
position: relative;
left: 50px;
}
.icon{
  font-size: 20px;
  width: 60px;
  height: 46.5px;
  color: white;
  border-radius: 0 15px 15px 0;
  padding: 5px 3px;
}

.prix {
    display: flex;
    justify-content: flex-start;
    margin-right: 50px;
    margin-top: 15px;
  }
 
  @media (min-width: $tablette) {
    #conteneur-restaurants {
      margin: 0 auto;
      }
    #section-menu  {
      display: flex;
      flex-wrap:wrap;
      justify-content: space-between;
        margin-top: -30px;
    }
    .conteneur-service {
      display: flex;
      flex-wrap:wrap;
      justify-content: space-between;
     margin: 0;
    }
  .menu a{
    width:300px;
    height: 50px;
   
}
}
@media (min-width: 1024px ) { 
  #conteneur-restaurants {
    margin: 0 auto;
    max-width: 1400px;
  }
  .conteneur-service {
    display: flex;
    flex-wrap:Wrap;
    justify-content: space-between;
   margin: 0;
   }
  .menu  {
   width:90%;
    height: 50px; 
}
}
@media (min-width: $desktop){ 
#conteneur-restaurants {
  margin: 0;
}
.conteneur-service {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}
.menu {
width: 80%;
height: 50px;    
}
}