footer {
  background-color: black;
  padding: 10px;
 
 }
.footer a, .footer i  {
 color: white;
  }
 .logo-footer img
 {
  width: 30%;
 margin: 5px;
 }
 .conteneur-pied  { 
   font-weight: 700;
   margin: $padding-text;
   }
   
  .contact {
   display: flex;
   flex-direction: column;
   margin:$padding-text;
 }
 @media (min-width: $tablette) {
  footer {
  align-items: center;
  height: 100px;
  display: flex;
  }

  .footer-content{
    display: flex;
    flex-direction: row;
  }
  .logo-footer img
 {
  width: 50%;
  margin-left: 30px;
margin-top: 15px;
 }
 .conteneur-pied,   .contact {
   display: initial;
 align-items: flex-start;
 padding-right: 90px;
 }
 .contact{ 
  margin: $padding-text;
}
   }

  @media (min-width:$desktop ) {
     .footer .contact{
      margin:$padding-text;
      
    }
  }