/*----- header-restaurants---*/

header a{
    color: black;
    position: relative;
    top: 50px;
    padding:20px;
   }
   header p  { 
    display: flex;
    justify-content: center;
    padding: 15px 10px;
    margin: 0px;
   }
   .photo-profil{
    transform: translate(-0%, -0%);
    height: 215px;
    overflow: hidden;
 
}
.photo-profil img{
  width: 100%;
  min-width: 220px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} 