a {
 text-decoration: none;
}
#selections{
  font-family: Roboto, sans-serif;
  margin: 0px;
  padding: 0px;
 }
.logo-accueil 
  {
  display: flex;
  justify-content: center;
  height:30px;
}
.recherche {
  display: flex;
  justify-content:center ;
  align-items: center;
  text-align:center;
  background: linear-gradient(#cccccc 0%, #e6e6e6 15%);
  color: #333333;
  border:none ;
  width: 100%;
  height: 55px;
  margin-left: 0 80px 0px;
}
.recherche input {
  border: none;
  background:transparent; 
  color: #333333; 
}
#Belleville{
  color: black;
  font-weight: 600;
  font-size: 14px;
  padding: 10px;
}
#introduction{ display: flex;
  flex-direction: column;
  text-align: center; 
  justify-content:center ;
  align-items: center;
  background-color: #F2F2F2;
}
#introduction h1, P{
  padding: 20px ;
} 
.restaurant-intro {display: flex;
  justify-content: center;
  border-radius: 30px;
  background: linear-gradient(-5deg, #9356DC 20%, #FF79DA);
  box-shadow: #b3b3b3 0 5px 10px;
  color: white;
  margin: 40px;
  border: none;
  font-weight: bolder;
  padding:20px 20px;
  width:50%;
  margin: 50px auto;
  }
.conteneur-fonctionnement {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.conteneur-fonctionnement ,h2 {
  padding: 30px  20px 0px;  
}
.conteneur-fonctionnement, .bottun-filtre{
  align-items: center;
}
.bouton-filtre  {
  display: flex;
  align-items:center;
  border-radius: 22px;
  background-color: #F2F2F2;
  box-shadow: #b3b3b3 0 5px 10px;
  color: black;
  width: 80%;
  height: 75px;
  margin: 30px;
}
.bouton-filtre i{color: gray;
}
#bouton-filtre3 i{color: #9356DC;
}
.bouton-filtre .cercle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color:#9356DC;
  position:relative;
  z-index: 1;
  text-align:center;
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
 margin: 5px 0 0 0;
 left: -10px
}
.bouton-filtre:hover {
background-color : #f0aedf;
}
 /*retaurants*/
#section-restaurations {
 background-color:#F2F2F2 ;
border-radius: top 15px; 
}
#conteneur-restaurants {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px;
}
.resto
{
  background-color: white;
  border-radius: 15px;
  box-shadow: #b3b3b3 0 5px 10px;
  margin: 20px;
  overflow: hidden;
  
}
.resto img{
  width: 100%;
  ;
}
.resto-img{
  transform: translate(-0%, -0%);
  height: 215px;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}
.resto-img img{
    
  width: 100%;
  min-width: 220px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
.info  
{
  position:absolute;
  z-index: 2;
  display: flex;
  justify-content: flex-end; 
  width: 85%;
  border-radius: 5px;
}
.info p{
  background-color: #99E2D0;
  padding:  5px;
  color: black;
}
.description{
  color: black;
  font-weight: bold;
  margin: 5px;
}
.informations-restaurant{
  padding : 10px;
  display:flex;
  flex-direction:row;
}
.informations-left{
  width:90%;
}
.lieu{
 color: black;
 margin-left: 15px;
 margin: 5px;
}
.corazon {
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: 5px;
  z-index: 2;
  margin-right: 20px;
  color: black;
}
.heart {
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 45px;
  z-index: 1;
  margin-right: 20px;
  color: black;
}
.black-heart i, .icon {
  position: relative;
  z-index: 1;
  opacity: 1;
  color: transparent;
}

footer {
 padding:30px;   
 background-color: black;
}
.logo-footer img
{
 width: 30%; 
 
}
.conteneur-pied  { 
  font-weight: 700;
  padding: 5px;
}
.conteneur-pied a, .conteneur-pied i  {
 color: white; 
 margin: 5px;
}
 .contact a{
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: white;
}
/*____________pages.html____________*/

header a{
 color: black;
 position: relative;
 top: 50px;
 padding: 20px;
}
header p  {
 font-size: 38px;
 font-weight: bold;
 font-family : 'Shrikhand', cursif ;
 display: flex;
 justify-content: center;
 padding: 15px 10px;
 margin: 0px;
}
.photo-profil{
    transform: translate(-0%, -0%);
    height: 215px;
    overflow: hidden;
   
}
.photo-profil img{
  width: 100%;
  min-width: 220px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
 .conteneur-service h4{
font-size:18px;
border-bottom: solid 3px #99E2D0;
width: 60px;
}
#section-menu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F2F2F2;
  border-radius: 25px 25px 0px 0px;
  position:relative;
  bottom: 20px;
  z-index:1 ;
  font-family: Roboto, sans-serif;
  }
  #section-menu h1 {
    font-family: 'Shrikhand';
   margin-left: 20px;
}
.conteneur-service{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
}
.conteneur-service h4{
  font-weight :lighter ;
}
.menu{
  background-color: white;
  box-shadow: #b3b3b3 0 5px 10px;
  border:none;
  border-radius: 20px;
  margin: 15px;
  padding: 10px;
  height: 60px;
}
.plat{
  font-weight: bold;
  margin: 5px;
}
.compliment{
  margin: 5px;
  font-size: 14px;
}
.prix{
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  position: relative;
  bottom: 45px;
  padding: 20px;
  font-size: 16px;
    font-weight: bold;
} 
.icon i
{
  padding-left: 10px;
  border-radius: 0px 10px 10px 0px;
  position:absolute;
  z-index: 1;
  display: flex;
  justify-content: flex-end;

  }
