.btn_intro {
  justify-content: center;
  border-radius: 30px;
  background: linear-gradient(-5deg, #9356DC 20%, #FF79DA);
  box-shadow: #b3b3b3 0 5px 10px;
  color: white;
  margin: 50px;
  border: none;
  font-weight: bolder;
  padding: 20px 20px;
  width: 60%;
  margin: 50px auto;
}
.btn_intro:hover {
  background: linear-gradient(-5deg, #a16be0 20%, #ff93e1);
  box-shadow: #999999 0 5px 10px;
}

@media (min-width: 1401px) {
  #btn_commande {
    width: 30%;
  }

  .btn_intro {
    width: 30%;
  }
}
@media (min-width: 768px) {
  #btn_commande {
    width: 30%;
  }

  .btn_intro {
    width: 30%;
  }
}
a {
  text-decoration: none;
  width: 50%;
}

#page-d-accueil {
  font-family: "Roboto", "sans-serif";
  margin: 0px;
  padding: 0px;
}

/*---recherche input---*/
#Belleville {
  color: black;
  font-weight: 600;
  font-size: 14px;
  padding: 10px;
  width: 105px;
}

header p {
  font-size: 38px;
  font-weight: bold;
  font-family: "Shrikhand", "cursif ";
}

#section-menu a {
  font-family: "Roboto", "sans-serif";
  color: black;
}

#section-menu h1 {
  font-family: "Shrikhand", "cursif ";
  margin-left: 20px;
}

.plat {
  font-weight: 700;
  margin: 0px;
}

.compliment {
  margin: 0px;
  font-size: 14px;
}

.description {
  color: black;
  font-weight: bold;
  margin: 5px;
}

/*----- header-restaurants---*/
header a {
  color: black;
  position: relative;
  top: 50px;
  padding: 20px;
}

header p {
  display: flex;
  justify-content: center;
  padding: 15px 10px;
  margin: 0px;
}

.photo-profil {
  transform: translate(0%, 0%);
  height: 215px;
  overflow: hidden;
}

.photo-profil img {
  width: 100%;
  min-width: 220px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo-accueil {
  display: flex;
  justify-content: center;
  margin: 20px;
  height: 40px;
}

.recherche {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(#cccccc 0%, #e6e6e6 15%);
  color: #333333;
  border: none;
  width: 100%;
  height: 50px;
  margin-left: 0px 70px 0px;
}

.recherche input {
  border: none;
  background: transparent;
  color: #333333;
}

#introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #F2F2F2;
}

#introduction h1, p {
  margin: 20px;
}

.conteneur-fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.conteneur-fonctionnement, h2 {
  padding: 30px 20px 0px;
}

.conteneur-fonctionnement, .bottun-filtre {
  align-items: center;
}

.filtres {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bouton-filtre {
  display: flex;
  align-items: center;
  border-radius: 22px;
  background-color: #F2F2F2;
  box-shadow: #b3b3b3 0 5px 10px;
  color: black;
  height: 75px;
  margin: 30px;
}

.bouton-filtre:hover {
  background-color: #f0d5e8;
}

.bouton-filtre i {
  color: gray;
}

#bouton-filtre3 i {
  color: #9356DC;
}

.bouton-filtre .cercle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #9356DC;
  position: relative;
  z-index: 1;
  color: white;
  margin: 5px 0 0 0;
  left: -10px;
}

@media (min-width: 768px) {
  .filtres {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .bottun-filtre {
    display: flex;
    justify-content: space-between;
    padding-right: 90px;
    height: 50px;
  }
}
@media (min-width: 1401px) {
  #conteneur-fonctionnement {
    margin: 0 auto;
    max-width: 1400px;
  }

  .bouton-filtre {
    width: 50%;
  }
}
/*page d'accueil*/
/* Partie mobile COMMUMNE*/
#section-restaurations {
  background-color: #F2F2F2;
  border-radius: top 15px;
}

#conteneur-restaurants {
  margin: 0;
}

.resto {
  background-color: white;
  border-radius: 15px;
  box-shadow: #b3b3b3 0 5px 10px;
  margin: 20px;
  overflow: hidden;
  position: relative;
}

.resto img {
  width: 100%;
}

.resto-img {
  transform: translate(0%, 0%);
  height: 215px;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.resto-img img {
  width: 100%;
  min-width: 220px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.informations-restaurant {
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.informations-restaurant {
  margin-bottom: 15px;
}

.informations-left {
  width: 100%;
}

.lieu {
  color: black;
  margin-left: 15px;
  margin: 5px;
}

.corazon {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 35px;
  margin-top: 20px;
}

.white-heart {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 15px;
  color: black;
  opacity: 1;
  transform: scale(1.3);
}
.white-heart :hover {
  opacity: 0;
}

.black-heart i {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0px;
  margin-top: 15px;
  z-index: 1;
  opacity: 1;
  color: transparent;
}

.info {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  width: 85%;
  border-radius: 5px;
  right: 10px;
}

.info p {
  background-color: #99E2D0;
  padding: 5px;
  color: black;
}

@media (min-width: 768px) {
  #conteneur-restaurants {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .resto-img {
    overflow: hidden;
  }

  .resto-img img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .info {
    width: 25%;
  }
}
/* pages restaurants*/
/* Partie mobile */
#page-restaurants {
  margin: 0;
  padding: 0;
}

#section-menu {
  position: relative;
  z-index: 2;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F2F2F2;
  border-radius: 25px 25px 0px 0px;
}

#section-menu {
  margin-top: -30px;
}

#section-menu h1 {
  margin-left: 10px;
  font-family: "Shrikhand", "cursif ";
}

.page-name {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

h4 span {
  border-bottom: solid 3px #99E2D0;
  margin: 10px;
}

.menu {
  background-color: white;
  box-shadow: #b3b3b3 0 5px 10px;
  border: none;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}

.menu {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 85%;
  height: 50px;
}

.display-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
  width: 100%;
}

.price {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  position: absolute;
  top: -10px;
  width: 6%;
  height: 30px;
  font-weight: 600;
}

.price {
  position: relative;
  left: 50px;
}

.icon {
  display: flex;
  align-items: center;
  position: absolute;
  margin-top: 10px;
  color: white;
}

.prix {
  display: flex;
  justify-content: flex-start;
  margin-right: 50px;
  margin-top: 5px;
}

@media (min-width: 768px) {
  #conteneur-restaurants {
    margin: 0 auto;
  }

  #section-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -30px;
  }

  .conteneur-service {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
  }

  .menu a {
    width: 80%;
    height: 50px;
  }
}
@media (min-width: 1024px) {
  #conteneur-restaurants {
    margin: 0 auto;
  }

  .menu {
    width: 90%;
    height: 50px;
  }
}
@media (min-width: 1401px) {
  #conteneur-restaurants {
    margin: 0 auto;
  }

  .conteneur-service {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0;
  }

  .menu {
    width: 80%;
    height: 50px;
  }
}
@keyframes home-opening {
  0% {
    transform: translateX(-9999px);
  }
  100% {
    transform: translateX(0);
  }
}
#page-d-accueil {
  margin: 0;
  animation: home-opening 1s 4s both;
}

.chargerment-site {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #9356DC;
}
.chargerment-site #bar-1 {
  background-color: #9356DC;
  animation-delay: 1000ms;
}
.chargerment-site #bar-2 {
  background-color: #99E2D0;
  animation-delay: 2000ms;
}
.chargerment-site #bar-3 {
  background-color: #FF79DA;
  animation-delay: 3000ms;
}
@keyframes load {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(2);
  }
}

.corazon .white-heart:hover + .black-heart i {
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 2;
  transform: scale(1.5);
  transition: all 300ms ease-in-out;
}
.corazon .white-heart:hover + .black-heart i :hover {
  opacity: 0;
}

.display-flex:hover + .price {
  border-radius: 0px 10px 10px 0px;
  background-color: #99E2D0;
  transition: 300ms ease;
  margin-right: 30px;
}
.display-flex:hover + .price .icon {
  animation: icon-rotation 1s;
}

@keyframes icon-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.conteneur-service .menu {
  animation: pogressive 3s;
}

#entrees {
  animation-delay: pogressive 0, 1s;
}

#plat-principal {
  animation-delay: pogressive 0, 2s;
}

#desserts {
  animation-delay: pogressive 0, 3s;
}

@keyframes pogressive {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
footer {
  background-color: black;
  padding: 10px;
}

.footer a, .footer i {
  color: white;
}

.logo-footer img {
  width: 30%;
  margin: 5px;
}

.conteneur-pied {
  font-weight: 700;
  margin: 10px;
}

.contact a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
}

@media (min-width: 768px) {
  footer {
    align-items: center;
    height: 100px;
    display: flex;
  }

  .footer-content {
    display: flex;
    flex-direction: row;
  }

  .logo-footer img {
    width: 50%;
    margin-left: 30px;
    margin-top: 15px;
  }

  .conteneur-pied, .contact a {
    display: initial;
    align-items: flex-start;
    padding-right: 70px;
  }
}
@media (min-width: 1401px) {
  .contact a {
    margin: 0;
  }
}

/*# sourceMappingURL=style.css.map */
