#introduction a {
  @include btn_intro;
  margin: 70px;
}

@media (min-width: $desktop) {
  #introduction a{
    @include btn_intro;
    width: $medium;
    margin: 50px auto;
  }
}

@media (min-width: $tablette) {
  #introduction a {
    @include btn_intro;
    width: $medium;
    margin: 50px auto;
  }
}
