@import '../Utils/variables';
.btn_intro  {@include button_intro;
 } 
@media (min-width: $desktop){
 #btn_commande {@include btn_commande;
}
.btn_intro {
width: $medium;
margin: 50px auto;
}
}

@media (min-width: $tablette){
    #btn_commande {@include btn_commande;
    }
.btn_intro {
width:$medium;
margin: 50px auto;
}
}