@import '../Utils/variables';
.btn_intro  {@include btn_intro;
} 
.btn{
   display: grid;
   
  }
@media (min-width: $desktop){
 #btn_commande {@include btn_commande;
}
.btn_intro {
width: $medium;
}
}

@media (min-width: $tablette){
    #btn_commande {@include btn_commande;
    }
.btn_intro {
width:$medium;
}
}