
.informations-restaurant{
    padding :$padding-text ;
    display:flex;
    flex-direction:row;
  }
  .informations-left{
    width: 100%;
  }
  .lieu{
   color: black;
   margin-left: 15px;
   margin: 5px;
  }
  
  
  .white-heart  {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 15px;
    z-index: 1;
    color:black;
    opacity: 1;
    transform:  scale(1.5);
    & :hover {
      opacity: 0;

    }
    }
    .black-heart i{
     display: flex;
     justify-content: flex-end;
      position: absolute;
      right: 0px;
      margin-top: 15px;
      z-index: 1;
      opacity: 2;
      color: transparent;
     
      }
      .white-heart:hover + .black-heart i{
    background: linear-gradient(to top, $color-secondary,$color-primary, );
    background-clip: text;
    -webkit-background-clip: text;
    opacity:2;
    transform: scale(1.5);
    transition:all 400ms ease-in-out ;
    & :hover {
      opacity: 0;

    }
  }
  .corazon {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 35px;
    margin-top: 20px;
    }
    .icon  {
      color: transparent;
        &:hover

      {
        color: white;
      }
   }  
     
   .price {
    display: flex;
    justify-content: flex-end;
    position:relative;
    left: 30px;
    width: 22px;
    height: 50px;
    font-weight: 600;
 
    
   }
  .display-flex:hover + .price {
    border-radius:0px 10px 10px 0px;
    background-color:$color-tertiary;
    text-overflow: ellipsis;
     opacity: 1;
  & :hover  { 
 opacity: 1;
  }
   }
   