@keyframes home-opening {
  0% {
    transform: translateX(-9999px);
}
100% {
    transform: translateX(0);
    }
}
#page-d-accueil{
  animation: home-opening  1s 4s both;

}
@keyframes icon-rotation {
  0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}

    .white-heart:hover + .black-heart i{
    background: linear-gradient( $color-secondary,$color-primary, );
    background-clip: text;
    -webkit-background-clip: text;
    opacity:2;
    transform: scale(1.5);
    transition:all 400ms ease-in-out ;
    & :hover {
      opacity: 0;

    }
  }
 
  .display-flex:hover + .price {
    border-radius:0px 10px 10px 0px;
    background-color:$color-tertiary;
    transition:  300ms ease;
    margin-right: 30px;
     opacity: 1;
  & :hover {
 opacity: 0;
 
  }
  .icon {
    animation:  icon-rotation   1s   ;
    }
   }
   