@keyframes home-opening {
  0% {
    transform: translateX(-9999px);
}
100% {
    transform: translateX(0);
    }
}
#page-d-accueil{
  margin: 0;
  animation: home-opening  1s 4s both;
}
.chargement-site {
  width: 100%;
 height: 100px;
 animation: loard 4ms;
 }
 @keyframes loard {
from {
    transform: scaleX(0);
  }
  to{
   transform: scaleX(2);
  }
 }
 .white-heart:hover + .black-heart i{
    background: linear-gradient( $color-secondary,$color-primary, );
    background-clip: text;
    -webkit-background-clip: text;
    opacity:2;
    transform: scale(1.5);
    transition:all 400ms ease-in-out ;
    & :hover {
      opacity: 0;

    }
  }
 
  .display-flex:hover +  .price {
    border-radius:0px 10px 10px 0px;
    background-color:$color-tertiary;
    transition:  300ms ease;
    margin-right: 30px;
     opacity: 1;
  & :hover {
 opacity: 0;
 
  }
  .icon {
    animation:  icon-rotation   1s   ;
    }
   }
   @keyframes icon-rotation {
    0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  }
   
   .conteneur-service .menu{
     animation: pogressive 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) ;
   }
   #entrees{
    animation: pogressive 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) ;
   }
   #plat-principal{
    animation: pogressive 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) ;
   }
   #desserts{
    animation: pogressive 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) ;
   }
   @keyframes pogressive {
0% {
  transform: translateY(50%);
  opacity: 0;
} 
100%{
  transform: translateY(0%) ;
  opacity: 1;
}   
   }