
.informations-restaurant{
    padding :$padding-text ;
    display:flex;
    flex-direction:row;
  }
  .informations-left{
    width: 100%;
  }
  .lieu{
   color: black;
   margin-left: 15px;
   margin: 5px;
  }
  
  
  .white-heart i {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 15px;
    z-index: 1;
    color:black;
    transform:  scale(1.5);
    & :hover {
      opacity: 0;
      color: #FF79DA;
    }
    }
    .black-heart i{
     display: flex;
     justify-content: flex-end;
      position: absolute;
      top: 15px;
      z-index: 1;
      opacity: 2;
      color: transparent;
     
      }
      .white-heart:hover + .black-heart i{
    background: linear-gradient(to top, $color-secondary,$color-primary, );
    background-clip: text;
    -webkit-background-clip: text;
    opacity:2;
    transform: scale(1.2);
    transition:all 400ms ease-in-out ;
    & :hover{ 
    opacity:0;
    transform:  scale(1.5);
    }
  }
  .corazon {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 35px;
    margin-top: 20px;
    }
 
         
  .prix{
    display: flex;
    justify-content: flex-end;
    margin-right: 0;
    position: relative;
    bottom: 45px;
    padding: 20px;
    font-size: 16px;
      font-weight: bold;
    } 
  .icon i
  {display:flex;
   justify-content:flex-end;
    position:absolute;
    z-index: 1;
    padding-left:$padding-text ;
    border-radius:0px 10px 10px 0px;
 }   
  .prix:hover  ,.icon  { 
 
  background-color:$color-tertiary;
  color: white;
  
 
  }