@mixin btn_intro  {
    justify-content: center;
    border-radius: 30px;
    background: linear-gradient(-5deg, $color-primary 20%, $color-secondary );
    box-shadow: $shadow ;
    color: white;
    margin: 50px;
    border: none; 
    font-weight: bolder;
    padding:20px 20px;
    width: 60%;
    margin: 50px auto;
    & :hover{
    background:$background-color-clear;
    box-shadow:$shadow-color-clear ;
    }
    }

    @mixin btn-commande {
       width:$medium ; 
    }
@mixin button_intro  {
      justify-content: center;
      border-radius: 30px;
      background: linear-gradient(-5deg, $color-primary 20%, $color-secondary );
      box-shadow: $shadow ;
      color: white;
      margin: 50px;
      border: none; 
      font-weight: bolder;
      padding:20px 20px;
      width: 60%;
      & :hover{
      background:$background-color-clear;
      box-shadow:$shadow-color-clear ;
      }
      }
      